<% if logged_in? %>

	<br/>
	<br/>
	<br/>
	<br/>
	    <div class="span8">
	      	<%= render 'shared/micropost_form' %>
		<%= render 'shared/communityfeed' %>
	    </div>
	
<% else %>

<div id="navigation">	
		<div class="origin"><a href="/"><input type="image" src="/streamlime.png" width="135" height="41"></a></div>
		<div id="postsbutton"><a href="/posts"><input type="image" src="blank.png" width="135" height="41"></a></div>
		<div id="meetupsbutton"><a href="/meetups"><input type="image" src="/blank.png" width="135" height="41"></a></div>
		<div id="chatbutton"><a href="/chat"><input type="image" src="/blank.png" width="135" height="41"></a></div>
		<div id="groupsbutton"><a href="/groups"><input type="image" src="/blank.png" width="135" height="41"></a></div>
		<div id="peoplebutton"><a href="/web"><input type="image" src="/blank.png" width="135" height="41"></a></div>
		<div id="profilebutton"><a href="/profile"><input type="image" src="/blank.png" width="135" height="41"></a></div>
		</div>
		
<% end %>	