<%= form_for(@comment do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <button class="btn" type="submit">
    Add Comment
  </button>
<% end %>
