								/* Logged In Header */

#logoutbutton {
margin-left: 914px;
position: relative;
bottom: 20px;
}

#search {
	margin-left: 23px;
	margin-top:9px;
	float:left;
}

#searchfield {
	float:left;
}

#searchbutton {
    float:left;
	left:5px;
    top:6px;
position: relative;
}


#meetumehead {
font-size: 40px;
color: #FFF;
font-family: myriad pro;
float:left;
margin-top:6px;
}

#settings {
	float:left;
	left:40px;
	top:12px;
	position:relative;
}

#messages {
	float:left;
	left:44px;
	top:12px;
	position:relative;
}

#activity {
float:left;
left:48px;
top:12px;
position:relative;
}

#profile {
left:52px;
top:12px;
position:relative;
}

									/* Everything Else */
									
					

#heading {
	background-color: #2374ee;
}

#inheading {
	width:950px; 
	margin:auto;
}
	#meetume {
	font-size: 40px;
	margin-left:20px;
	margin-top:6px;
	color: #FFF;
	font-family: myriad pro;
}

	#city {
	font-size: 60px;
	margin-left: 20px;
	color: #FFF;
	font-family: myriad pro;
}


#login{
	float:left;
	color: #FFF;
}

	#emailcss{
	float:left;
	float:right;
	margin-left:379px;
	position:absolute;
	top:21px;
	font-family: myriad pro;
}

	#passwordcss{
	float:left;
	float:right;
	margin-left:379px;
	position:absolute;
	top:48px;
	font-family: myriad pro;
}

	#emailboxcss{
	margin-left:449px;
	float:left;
	position:absolute;
	top:17px;
}

	#passboxcss{
	margin-left:449px;
	float:left;
	position:absolute;
	top:44px; 
}

#navigation {
	position: relative;
	width:950px; 
	margin:auto;
}

#subnavigation {
	float:left;
}

.origin {
	float:left;
}

#loginbutton {
margin-left:476px;
position:absolute;
top:73px;
display:block;
float:left;
width: 125px;
height:48px;
background-image: url(/login-button.png);
}

#loginbutton:hover {
background-image: url(/loginlime.png);
}

#joinbutton {
position: absolute;
margin-left:700px;
top:26px;
float:left;
display: block;
width: 300px;
height:83px;
background-image: url(/join-free.png);
}

#joinbutton:hover {
background-image: url(/joinlime.png);
}

	#streambutton {
	float:left;
	display: block;
	width: 135px;
	height:41px;
	background-image: url(/stream.png);
}

#streambutton:hover {
background-image: url(/streamlime.png);
}
	
	#postsbutton {
		float:left;
		display: block;
		width: 135px;
		height:41px;
		background-image: url(/posts.png);
	}
	
	#postsbutton:hover {
		background-image: url(/postslime.png);
	}
	
	#meetupsbutton {
	float:left;
	display: block;
	width: 135px;
	height:41px;
	background-image: url(/meetups.png);
}

#meetupsbutton:hover {
background-image: url(/meetupslime.png);
}
	
	#chatbutton {
	float:left;
	display: block;
	width: 135px;
	height:41px;
	background-image: url(/chat.png);
}

#chatbutton:hover {
background-image: url(/chatlime.png);
}
	
	#groupsbutton {
	float:left;
	display: block;
	width: 135px;
	height:41px;
	background-image: url(/groups.png);
}

	#groupsbutton:hover {
	background-image: url(/groupslime.png);
}
	
	/* IS ACTUALLY WEB CSS */
	#peoplebutton {
	float:left;
	display: block;
	width: 135px;
	height:41px;
	background-image: url(/web.png);
}

#peoplebutton:hover {
background-image: url(/weblime.png);
}
	
	#profilebutton {
		float:left;
		display: block;
		width: 135px;
		height:41px;
		background-image: url(/profile.png);
	}
	
	#profilebutton:hover {
	background-image: url(/profilelime.png);
}


#community {
float:left;
position:relative;
bottom: 17px;
}

#bottombuttons{
	float:left;
	position:relative;
	left:20px;
}

#profilepic {
	position:relative;
	clear:both;
}

#profilename {
	position:relative;
	top:35px;
}